{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
Password Change
{% endblock title %}

{% block content %}

<h2>Password Change</h2>
<p>
    Please enter your old password, for a security's sake, and then enter your new password twice so we can verify you
    typed it in correcty.
</p>
<div class="col-lg-3">
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Change my password</button>
        {% endbuttons %}
    </form>
</div>

{% endblock content %}